bin/*
build/
__pycache__/
*.pyc
use/output_files/*
use/output_files/**


## hidden xml files
.*.xml

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
